.reactFeed {
	margin: 2em auto;
	.sidebar {
		width: 25%;
		padding: 0;
		background: #f8f8f8;
		border-radius: 10px;
		border: 1px solid #777;
		min-height: 320px;
	}
	.feedList {
		display: block;
		-webkit-column-count: 4;
		-webkit-column-gap: 10px;
		-webkit-column-fill: auto;
		-moz-column-count: 4;
		-moz-column-gap: 10px;
		column-count: 4;
		column-gap: 10px;
		column-fill: auto;
		.offer {
			width: auto;
			-webkit-column-break-inside: avoid;
			-moz-column-break-inside: avoid;
			-ms-column-break-inside: avoid;
			column-break-inside: avoid;
			margin-bottom: 10px;
			border-radius: 10px;

			.main {
				padding: 10px;
				border-radius: 10px;
				background: #eee;
				.picture {
					margin: 0;
				}
				img {
					@include thumbnail;
					display: inline-block;
					margin-bottom: 0;
					width: 100%;
				}
			}
		}
	}
}