@import './global';
@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;

//@import '../../node_modules/foundation-sites/assets/foundation.scss';
@import './components/_grid';

.top-bar.sticky {
	width: 100%;
}

.offerDetails,
.articleContent {
	margin: 2.5em;
}